{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />

        <title>
            {% block title %}
            Sticky Notes Application
            {% endblock title %}
        </title>

        <link rel="stylesheet" href="{% static 'notes/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>
                {% block header %}
                Sticky Notes
                {% endblock header %}
            </h1>
            <a href="{% url 'note_create' %}" class="btn">Create Sticky Note</a>
            {% if show_home_button is True %}
                <a href="{% url 'notes_list' %}" class="btn">Back to All Sticky Notes</a>
            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
        </footer>
    </body>
</html>